PORT=4000
JWT_SECRET=ganti-dengan-secret-yang-kuat
CORS_ORIGIN=https://simpus.domainanda.com,https://www.simpus.domainanda.com
COUCHDB_URL=http://admin:password@127.0.0.1:5984
COUCHDB_RECORDS_DB=simpus_records
COUCHDB_AUTH_DB=simpus_auth

